<p>three-fifth-script works!</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#first">
    Call Component 1 Schema
</button>

<!-- Modal -->
<div class="modal fade" id="first" tabindex="-1" aria-labelledby="firstLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="firstLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-three-one-schema></app-three-one-schema>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#two">
    Call Component 2 Shared Schema
</button>

<!-- Modal -->
<div class="modal fade" id="two" tabindex="-1" aria-labelledby="twoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="twoLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-three-two-shared-schema></app-three-two-shared-schema>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#three">
    Call Component 3 Prompt
</button>

<!-- Modal -->
<div class="modal fade" id="three" tabindex="-1" aria-labelledby="threeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="threeLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-three-three-prompt></app-three-three-prompt>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#four">
    Call Component 4 Shared Prompt
</button>

<!-- Modal -->
<div class="modal fade" id="four" tabindex="-1" aria-labelledby="fourLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="fourLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-three-forth-shared-prompt></app-three-forth-shared-prompt>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="form-container container">
    <div class="fw-bold py-2">Create Script</div>

    <form (ngSubmit)="onScriptSubmit()" [formGroup]="scriptForm">
        <div formArrayName="scriptArrayForTypeInput">
            <div *ngFor="let item of scriptArrayForTypeInput.controls; let i = index" [formGroupName]="i">
                <div class="row pb-2">
                    <div class="col-12 col-md-3">
                        <div class="label fw-medium">Step Name:</div>
                    </div>
                    <div class="col-12 col-md-9">
                        <div class="inputbox">
                            <input type="text" class="form-control" placeholder="Enter Step Name"
                                formControlName="stepName" />
                        </div>
                    </div>
                </div>

                <div class="row pb-2">
                    <div class="col-12 col-md-3">
                        <div class="label fw-medium">Script Type:</div>
                    </div>

                    <div class="col-12 col-md-9">
                        <div class="inputbox">
                            <select name="scriptType" class="form-select" formControlName="scriptType">
                                <option value="Select Script Type" disabled>Select Script Type</option>
                                <option value="llm">Invoke LLM</option>
                                <option value="function">Custom Function</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row pb-2">
                    <div class="col-12 col-md-3">
                        <div class="label fw-medium">Script Input Variable:</div>
                    </div>

                    <div class="col-12 col-md-9">
                        <div class="inputbox">
                            <div *ngIf="item.get('scriptType')?.value === 'llm'">
                                <select name="scriptType" class="form-select" formControlName="scriptTypeInputValue">
                                    <option value="Default LLM Value" disabled>Select Prompt</option>
                                    <option *ngFor="let prompt of availablePromptArray" [value]="prompt.name">{{
                                        prompt.name }}
                                    </option>
                                </select>
                            </div>

                            <div *ngIf="item.get('scriptType')?.value !== 'llm'">
                                <input type="text" class="form-control" placeholder="Enter Custom Function Name"
                                    formControlName="scriptTypeInputValue" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add more field button -->
        <button type="button" class="btn btn-primary" (click)="addNewScriptField()">Add More Field</button>

        <!-- Submit and Cancel Buttons -->
        <div class="submit-button d-flex justify-content-center gap-3">
            <button type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#scriptModelIndex"
                data-bs-dismiss="modal">Submit</button>
        </div>
    </form>
</div>