<!-- first modal button -->
<button type="button" class="btn btn-primary" (click)="isModalFirstOpen = true">
  First
</button>

<!-- second modal button -->
<button type="button" class="btn btn-primary" (click)="isModalSecondOpen = true">
  Second
</button>

<!-- models  -->
<div class="position-relative">

  <!-- first modal  -->
  <div class="first-modal d-flex justify-content-center">
    <div [ngStyle]="{'opacity': isModalFirstOpen ? 1 : 0, 'transition': 'opacity 0.5s'}"
      class="position-absolute z-0 w-75">
      <div class="bg-secondary">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolorum eligendi placeat ducimus
          doloremque
          asperiores inventore expedita provident atque non, tenetur quibusdam et id repudiandae, eaque voluptatem
          exercitationem labore similique?
          Veniam, laudantium cupiditate autem magnam libero ratione tempore, maxime praesentium nostrum neque voluptatem
          dicta! Voluptatibus vitae enim tempore laborum reiciendis. At eum et in! Debitis dolore quo sapiente! Officia,
          ratione!
          Beatae, rerum distinctio voluptatibus rem eaque similique odio ut enim aspernatur esse ullam, atque libero id
          cupiditate quae eligendi iusto voluptatem magni tempore! Libero consequatur ducimus harum magnam non
          obcaecati?
          Debitis tempora nesciunt nostrum deserunt, explicabo accusamus expedita praesentium, nobis nemo voluptas
          repudiandae alias est recusandae dolores ullam laboriosam at enim repellendus esse ipsam earum tempore
          pariatur
          officiis. Adipisci, dolorum?
          Voluptas, eum saepe! Optio praesentium porro laudantium soluta perferendis debitis ipsa aut excepturi
          repellendus
          a dolores saepe error dignissimos mollitia atque aliquid veniam aliquam, eveniet natus cum voluptatem eos sit?
        </p>
        <button type="button" (click)="isModalFirstOpen = false" class="btn btn-info">close first</button>
      </div>

    </div>
  </div>

  <!-- second modal  -->
  <div class="first-modal d-flex justify-content-center">
    <div [ngStyle]="{'opacity': isModalSecondOpen ? 1 : 0, 'transition': 'opacity 0.5s'}"
      class="position-absolute z-0 w-75">
      <div class="bg-warning">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolorum eligendi placeat ducimus
          doloremque
          asperiores inventore expedita provident atque non, tenetur quibusdam et id repudiandae, eaque voluptatem
          exercitationem labore similique?
          Veniam, laudantium cupiditate autem magnam libero ratione tempore, maxime praesentium nostrum neque voluptatem
          dicta! Voluptatibus vitae enim tempore laborum reiciendis. At eum et in! Debitis dolore quo sapiente! Officia,
          ratione!
          Beatae, rerum distinctio voluptatibus rem eaque similique odio ut enim aspernatur esse ullam, atque libero id
          cupiditate quae eligendi iusto voluptatem magni tempore! Libero consequatur ducimus harum magnam non
          obcaecati?
          Debitis tempora nesciunt nostrum deserunt, explicabo accusamus expedita praesentium, nobis nemo voluptas
          repudiandae alias est recusandae dolores ullam laboriosam at enim repellendus esse ipsam earum tempore
          pariatur.
        </p>
        <button type="button" (click)="isModalSecondOpen = false" class="btn btn-info">close second</button>
      </div>

    </div>
  </div>

</div>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas cumque eveniet facere, dicta quo harum qui,
  molestias autem cupiditate repellendus veniam sunt! Fugit libero numquam a quo repellendus consequuntur enim!
  Nisi ullam aliquam iure voluptate sapiente, id optio suscipit, corrupti officiis soluta nemo neque fuga ex, labore eos
  nam earum perferendis fugiat consequuntur itaque magni accusantium voluptatibus. Accusamus, fuga dolor?
  Cum deleniti praesentium autem veritatis magni earum deserunt a explicabo, aliquam nobis eaque ratione atque
  consequuntur nisi et, quasi odit omnis dignissimos alias odio quisquam pariatur repellendus inventore. Quia, optio?
  Aliquid quae fugit ratione tempore ipsum, voluptates autem iure voluptatibus alias nesciunt incidunt aperiam minima
  exercitationem ipsam sequi vel beatae eum optio. Laudantium facilis vel dolor enim, quia animi eum?
  Perferendis enim ex eligendi voluptates, fugiat excepturi. Quis repudiandae soluta fuga voluptatum unde. Minus laborum
  reiciendis autem alias voluptate aliquid in velit maiores vitae, nulla neque iusto sequi voluptatibus! Vero.
  Beatae, consequuntur fugiat? Illo repellat architecto dicta, officiis optio distinctio, molestias excepturi ullam
  commodi ipsa deleniti recusandae, eos iusto dolorem est eaque officia labore totam atque dolore maxime pariatur!
  Ipsam.
  Id maxime quam ullam ipsa repudiandae, saepe optio incidunt! Corporis quod, necessitatibus odit fugit voluptatibus
  aut, consectetur dolores esse blanditiis laboriosam consequatur suscipit tempora nam? Quaerat maxime provident
  officiis nesciunt.
  Natus consequuntur enim corrupti similique eveniet saepe nemo cumque reprehenderit iste id incidunt distinctio
  expedita, perspiciatis labore dicta dolor nihil vero obcaecati maiores doloremque voluptates nesciunt ipsam ab
  dignissimos. Veniam?
  Dolorem reprehenderit dolores, molestiae beatae, tempore eligendi iure molestias ipsum, deserunt corrupti omnis quam
  officiis sint sequi. Animi suscipit perspiciatis, non voluptatum beatae culpa necessitatibus nam nemo deserunt, ab
  commodi?
  Culpa explicabo corrupti doloribus officiis porro error excepturi ab deleniti facere, voluptates itaque illo velit
  provident iure quos ratione sapiente, perferendis dignissimos, earum ipsa labore voluptas doloremque cumque! Nam, quo?
  Amet corrupti fugit nesciunt tempore dolores, aspernatur magni, excepturi sed voluptatem ea ut architecto maxime enim
  temporibus nobis natus, porro aperiam adipisci laudantium recusandae eum possimus nihil quis. Quia, quasi.
  Ut ullam doloribus voluptatem non! Repellat dicta veniam soluta facilis? Enim dolorum sit asperiores possimus odio
  modi labore autem. Totam suscipit dolorum eligendi, architecto tempora ut non magnam iusto saepe.
  Totam sint, commodi itaque quia qui dolore quod iusto tempora, corporis nobis molestiae nesciunt quidem sunt harum
  obcaecati similique ut. Exercitationem, placeat molestias possimus eligendi quo explicabo dicta deserunt voluptas?
  Natus aut voluptate nostrum optio amet delectus reiciendis, voluptatum quod perferendis adipisci accusantium!
  Incidunt, quasi sapiente ipsum consequuntur quos assumenda culpa maxime, fugit doloribus facilis unde harum
  distinctio, sint porro?
  Neque eos possimus sit assumenda eligendi dolores quo ea et quas autem similique magni voluptates maiores nobis dicta
  voluptas atque unde itaque, placeat tempora dolorum pariatur accusamus expedita ex. Odio.</p>