<!-- prompt form -->
<div class="form-container container pb-5">
  <form (ngSubmit)="onPromptSubmit()" [formGroup]="promptForm">
    <!-- Label and Input for schema Name -->
    <div class="row pb-2">
      <div class="col-12 col-md-3">
        <div class="label fw-medium">Prompt Name:</div>
      </div>
      <div class="col-12 col-md-9">
        <div class="inputbox">
          <input type="text" class="form-control" placeholder="Enter Prompt Name" formControlName="promptName" />
        </div>
      </div>
    </div>

    <!-- Label and Input for schema Name -->
    <div class="row pb-2">
      <div class="col-12 col-md-3">
        <div class="label fw-medium">Select Schema:</div>
      </div>
      <div class="col-12 col-md-9">
        <div class="inputbox">
          <!-- // click to open the modal for suggestion -->
          <div class="bg-primary rounded" data-bs-toggle="modal" data-bs-target="#firstmodalforschemasuggestion"
            style="height: 100px; width: 100px;"></div>

          <!-- // selected schemas or created schemas array block -->
          <div class="bg-primary rounded"
            style="height: 100px; width: 100px;" *ngFor="let item of schemaArrayForBlock">{{item.name}}</div>

        </div>
      </div>
    </div>

    <!-- Label and Textarea for system message -->
    <div class="row pb-2">
      <div class="col-12 col-md-3">
        <div class="label fw-medium">System Message:</div>
      </div>
      <div class="col-12 col-md-9">
        <div class="inputbox">
          <textarea class="form-control" placeholder="Enter System Message" style="height: 100px"
            formControlName="systemMessage" appTextareaAutoResize></textarea>
        </div>
      </div>
    </div>

    <!-- Label and Textarea for human message -->
    <div class="row pb-2">
      <div class="col-12 col-md-3">
        <div class="label fw-medium">Human Message:</div>
      </div>
      <div class="col-12 col-md-9">
        <div class="inputbox">
          <textarea class="form-control" placeholder="Enter Human Message" formControlName="humanMessage"
            appTextareaAutoResize></textarea>
        </div>
      </div>
    </div>

    <!-- Label and Textarea for input variables -->
    <div class="row pb-2">
      <div class="col-12 col-md-3">
        <div class="label fw-medium">Input Variables:</div>
      </div>
      <div class="col-12 col-md-9">
        <div class="inputbox">
          <textarea class="form-control" placeholder="Enter Input Variables" formControlName="inputVariables"
            appTextareaAutoResize></textarea>
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="submit-button d-flex justify-content-center gap-3">
      <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
        Submit
      </button>
    </div>
  </form>
</div>

<!-- Modals -->
<!-- // click to open the modal for suggestion -->
<div class="modal fade" id="firstmodalforschemasuggestion" tabindex="-1"
  aria-labelledby="firstmodalforschemasuggestionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="firstmodalforschemasuggestionLabel">Select Schema</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-control bg-primary" data-bs-toggle="modal"
          data-bs-target="#secondModalForCreatingNewSchemaForm">Create New Schema</div>
        <div class="form-control bg-warning" *ngFor="let item of schemaDataRetreive" (click)="selectSchemaForBlockMethod(item.id, item.name)"  data-bs-toggle="modal"
          data-bs-target="#firstmodalforschemasuggestion">{{item.name}} {{item.id}}</div>
      </div>
    </div>
  </div>
</div>

<!-- // click to open the modal for new schema form -->
<div class="modal fade" id="secondModalForCreatingNewSchemaForm" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="secondModalForCreatingNewSchemaFormLabel" aria-hidden="true">
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable d-flex justify-content-center align-items-center">
    <div class="modal-content" style="min-width: 80vw">
      <div class="modal-header">
        <h2 class="modal-title fs-5 text-center" id="secondModalForCreatingNewSchemaFormLabel">
          Create New Schema
        </h2>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-first-schema></app-first-schema>
      </div>
    </div>
  </div>
</div>