<p class="fs-2 text-primary ">three-seventh-document works!</p>

<!-- Modal -->
<div class="modal fade" id="first" tabindex="-1" aria-labelledby="firstLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="firstLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-three-one-schema></app-three-one-schema>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="two" tabindex="-1" aria-labelledby="twoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="twoLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-three-two-shared-schema></app-three-two-shared-schema>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="three" tabindex="-1" aria-labelledby="threeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="threeLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-three-three-prompt></app-three-three-prompt>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="four" tabindex="-1" aria-labelledby="fourLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="fourLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-three-forth-shared-prompt></app-three-forth-shared-prompt>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="five" tabindex="-1" aria-labelledby="fiveLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="fiveLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-three-fifth-script></app-three-fifth-script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#six">
    Call Component 6 Shared Script
</button>

<!-- Modal -->
<div class="modal fade" id="six" tabindex="-1" aria-labelledby="sixLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="sixLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-three-sixth-shared-script></app-three-sixth-shared-script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- document type form -->
<div class="form-container container">
    <form (ngSubmit)="onDocumentSubmit()" [formGroup]="documentForm">
        <!-- Label and Input for Document Name -->
        <div class="row pb-2">
            <div class="col-12 col-md-3">
                <div class="label fw-medium">Document Name:</div>
            </div>
            <div class="col-12 col-md-9">
                <div class="inputbox">
                    <input type="email" class="form-control" placeholder="Enter Document Name" formControlName="name" />
                </div>
            </div>
        </div>

        <!-- Label and Input for Phrase Matcher -->
        <div class="row pb-2">
            <div class="col-12 col-md-3">
                <div class="label fw-medium">Phrase Matcher:</div>
            </div>
            <div class="col-12 col-md-9">
                <div class="inputbox">
                    <input type="email" class="form-control" placeholder="Enter Phrase Matcher"
                        formControlName="phraseMatcher" />
                </div>
            </div>
        </div>

        <!-- Label and Checkboxes for Document Type -->
        <div class="row pb-2">
            <div class="col-12 col-md-3">
                <div class="label fw-medium">Document Type:</div>
            </div>
            <div class="col-12 col-md-9">
                <div class="inputbox">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" formControlName="isText" />
                        <label class="form-check-label">Text</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" formControlName="isForm" />
                        <label class="form-check-label">Form</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" formControlName="isTable" />
                        <label class="form-check-label">Table</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Label and Textarea for Document Description -->
        <div class="row pb-2">
            <div class="col-12 col-md-3">
                <div class="label fw-medium">Document Description:</div>
            </div>
            <div class="col-12 col-md-9">
                <div class="inputbox">
                    <textarea class="form-control" placeholder="Enter Document Description" style="height: 100px"
                        formControlName="description" appTextareaAutoResize></textarea>
                </div>
            </div>
        </div>

        <!-- Label and Textarea for Document Description -->
        <div class="row pb-2">
            <div class="col-12 col-md-3">
                <div class="label fw-medium">Select Script:</div>
            </div>
            <div class="col-12 col-md-9">
                <div class="inputbox">
                    <app-three-sixth-shared-script></app-three-sixth-shared-script>
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-center py-3">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>

    </form>

</div>