<p class="fs-2 text-primary">three-three-prompt works!</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#first">
    Call Component 1 Schema
</button>

<!-- Modal -->
<div class="modal fade" id="first" tabindex="-1" aria-labelledby="firstLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="firstLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-three-one-schema></app-three-one-schema>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#two">
    Call Component 2 Shared Schema
</button>

<!-- Modal -->
<div class="modal fade" id="two" tabindex="-1" aria-labelledby="twoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="twoLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-three-two-shared-schema></app-three-two-shared-schema>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- prompt form -->
<div class="form-container container pb-5">
    <form (ngSubmit)="onPromptSubmit()" [formGroup]="promptForm">
        <!-- Label and Input for Prompt Name -->
        <div class="row pb-2">
            <div class="col-12 col-md-3">
                <div class="label fw-medium">Prompt Name:</div>
            </div>
            <div class="col-12 col-md-9">
                <div class="inputbox">
                    <input type="text" class="form-control" placeholder="Enter Prompt Name"
                        formControlName="promptName" />
                </div>
            </div>
        </div>

        <!-- Label and Input for Schema Name -->
        <div class="row pb-2">
            <div class="col-12 col-md-3">
                <div class="label fw-medium">Select Schema:</div>
            </div>
            <div class="col-12 col-md-9">
                <div class="inputbox">
                    <!-- Include the component responsible for selecting schemas here -->
                    <app-three-two-shared-schema></app-three-two-shared-schema>
                </div>
            </div>
        </div>

        <!-- Label and Textarea for System Message -->
        <div class="row pb-2">
            <div class="col-12 col-md-3">
                <div class="label fw-medium">System Message:</div>
            </div>
            <div class="col-12 col-md-9">
                <div class="inputbox">
                    <textarea class="form-control" placeholder="Enter System Message" style="height: 100px"
                        formControlName="systemMessage" appTextareaAutoResize></textarea>
                </div>
            </div>
        </div>

        <!-- Label and Textarea for Human Message -->
        <div class="row pb-2">
            <div class="col-12 col-md-3">
                <div class="label fw-medium">Human Message:</div>
            </div>
            <div class="col-12 col-md-9">
                <div class="inputbox">
                    <textarea class="form-control" placeholder="Enter Human Message" formControlName="humanMessage"
                        appTextareaAutoResize></textarea>
                </div>
            </div>
        </div>

        <!-- Label and Textarea for Input Variables -->
        <div class="row pb-2">
            <div class="col-12 col-md-3">
                <div class="label fw-medium">Input Variables:</div>
            </div>
            <div class="col-12 col-md-9">
                <div class="inputbox">
                    <textarea class="form-control" placeholder="Enter Input Variables" formControlName="inputVariables"
                        appTextareaAutoResize></textarea>
                </div>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="submit-button d-flex justify-content-center gap-3">
            <button type="submit" class="btn btn-success">
                Submit
            </button>

        </div>
    </form>
</div>